In [4]:
#Q1
l = [('Sachin Tendulkar',34357),('Ricky Ponting', 27483),('Jack Kallis',25534),('Virat Kohli',24936)]
print("original list of tuples")
print(l)
l.sort(key = lambda x : x[1])
print("/sorted list of tuples: ")
print(l)

original list of tuples
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
/sorted list of tuples:
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [6]:
#Q2 
l = [1,2,3,4,5,6,7,8,9,10]
a = list(map(lambda x : x**2,l))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#Q3
l = [1,2,3,4,5,6,7,8,9,10]
a = list(map( lambda x : str(x) , l))
print(a)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [18]:
#Q4
from functools import reduce
l = range(1,26)
a = reduce(lambda x,y : x*y,l)
print(a)

15511210043330985984000000

In [25]:
#Q5
l = [2,3,9,27,60,90,120,55,46]
a = list(filter(lambda x : (x%2==0) & (x%3==0), l))
print(a)

[60, 90, 120]

In [37]:
l = ['python' , 'php', 'aba', 'radar' , 'level']
x = list(filter(lambda x: (x == "".join(reversed(x))),l)) 
print(x)

['php', 'aba', 'radar', 'level']